<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" colors="true" stopOnError="false" stopOnFailure="false" stopOnIncomplete="false" stopOnSkipped="false" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.1/phpunit.xsd" cacheDirectory=".phpunit.cache">
  <coverage includeUncoveredFiles="true"/>
  <testsuites>
    <testsuite name="FeatureFlag">
      <directory>./tests</directory>
    </testsuite>
  </testsuites>
  <logging>
    <testdoxHtml outputFile="build/logs/testdox.html"/>
    <testdoxText outputFile="build/logs/testdox.txt"/>
    <junit outputFile="build/logs/logfile.xml"/>
  </logging>
  <source>
    <include>
      <directory suffix=".php">./src</directory>
    </include>
  </source>
</phpunit>
